<div id="settingsContainer">

    <md-input-container flex-gt-sm class="md-block md-body-1">
        <md-icon>search</md-icon>
        <input ng-model="searchText" type="text" placeholder="Search for an option">
    </md-input-container>

    <!-- <md-card ng-repeat="section in sections"> -->
    <!-- <md-card-title>
            <md-card-title-text>
            </md-card-title-text>
        </md-card-title> -->
    <!-- <md-card-content> -->
    <md-list ng-repeat="section in sections" class="md-body-1" ng-cloak>
        <md-subheader class="md-no-sticky">{{ section.sectionTitle }}</md-subheader>
        <md-list-item ng-click="displayOptionHelper($event, option.optionKey)" ng-repeat="option in section.sectionContent | filter:searchText" ng-hide="option.hidden">
            <!-- <md-icon>favorite</md-icon> -->
            <p flex="75">{{option.optionTitle}}</p>
            <p>
                <div ng-repeat="label in option.optionLabels">
                    <div ng-switch on="label">
                        <md-icon ng-switch-when="Cycling">directions_bike</md-icon>
                        <md-icon ng-switch-when="Running">directions_walk</md-icon>
                    </div>
                </div>
            </p>
            <div ng-switch on="option.optionType" flex="10">
                <md-select ng-switch-when="list" ng-model="option.active" ng-change="toggleSelectOption(option)" class="md-block" aria-label="{{ option.optionTitle }}">
                    <md-option ng-value="listItem" ng-repeat="listItem in option.optionList">{{ listItem.name }}</md-option>
                </md-select>

                <md-input-container ng-switch-when="integer" class="md-block">
                    <input type="number" step="any" name="rate" ng-model="option.value" ng-change="toggleIntegerOption(option)" aria-label="{{ option.optionTitle }}" />
                    <md-tooltip md-direction="top">
                        {{option.optionHtml}}
                    </md-tooltip>
                </md-input-container>
                <span ng-switch-when="checkbox">
                    <md-switch ng-model="option.active" class="md-secondary" ng-change="toggleCheckOption(option)"></md-switch>
                </span>
            </div>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
    <!-- </md-card-content> -->
    <!-- </md-card> -->

    <!-- <input ng-model="searchText" placeholder="Search for an option" class="form-control input-lg"> -->
    <div ng-hide="true" ng-repeat="section in sections">
        <h3 data-ng-hide="false"><span class="label label-default">{{ section.sectionTitle }}</span></h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="50%"></th>
                    <th width="15%"></th>
                    <th width="15%"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="option in section.sectionContent | filter:searchText" data-ng-hide="option.hidden">
                    <td>
                        <button id="{{option.optionKey}}" data-popover="Click for help" data-popover-trigger="mouseenter" class="btn btn-default" data-ng-click="displayOptionHelper(option.optionKey)">{{ option.optionTitle }}</button>
                    </td>
                    <td>
                        <span data-ng-repeat="label in option.optionLabels">
                            <span data-ng-switch on="label">
                                <span data-ng-switch-when="Cycling">
                                    <span class="label label-default" style="background-color: #FC4C02;">{{label}}</span>
                        </span>
                        <span data-ng-switch-when="Running">
                                    <span class="label label-default"style="background-color: #2DAA35;">{{label}}</span>
                        </span>
                        <span data-ng-switch-default>
                                    <span class="label label-default" >{{label}}</span>
                        </span>
                        </span>
                        </span>
                    </td>
                    <td class="text-right">
                        <div data-ng-switch on="option.optionType">
                            <div data-ng-switch-when="list">
                                <select class="form-control" data-ng-model="option.active" data-ng-options="listItem.name for listItem in option.optionList" data-ng-change="toggleSelectOption(option)"></select>
                            </div>
                            <div data-ng-switch-when="integer">
                                <input class="form-control" data-ng-model="option.value" type="number" data-ng-change="toggleIntegerOption(option)" data-popover="{{option.optionHtml}}" data-popover-trigger="mouseenter"></input>
                            </div>
                            <div data-ng-switch-default>
                                <checkbox large class="btn-primary" data-ng-model="option.active" data-ng-change="toggleCheckOption(option)"></checkbox>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
