<div>
    <md-input-container flex-gt-sm class="md-block">
        <label>Period to watch</label>
        <md-select ng-model="periodSelected" ng-change="periodChanged()">
            <!-- <md-select-label>{{ periodSelected.days }}</md-select-label> -->
            <md-option ng-repeat="period in periodsToWatch" ng-value="period" >{{ period.label }}</md-option>
        </md-select>
    </md-input-container>
    <div>
        <nvd3 options="fitnessChartOptions" config="{deepWatchDataDepth: 0}" data="fitnessChartData.curves" class="with-3d-shadow with-transitions"></nvd3>
    </div>
    <div style="text-align: center;">
        <i>select period upper with mouse</i>
    </div>
    <div>
        <div>You will loose {{restLooseGainData.lostCtl.percentageTrigger}}% of your CTL/Fitness in <strong>~{{restLooseGainData.lostCtl.dayCount}} days (on {{restLooseGainData.lostCtl.date.toLocaleDateString()}})</strong></div>
        <div>You will loose {{restLooseGainData.lostAtl.percentageTrigger}}% of your ATL/Fatigue in <strong>~{{restLooseGainData.lostAtl.dayCount}} days (on {{restLooseGainData.lostAtl.date.toLocaleDateString()}})</strong></div>
        <div>You will get in form (positive TSB) in <strong>~{{restLooseGainData.gainForm.dayCount}} days (on {{restLooseGainData.gainForm.date.toLocaleDateString()}})</strong></div>
        <div>When in form, you will lost this form (negative TSB) after<strong>~{{restLooseGainData.lostForm.dayCount}} days (on {{restLooseGainData.lostForm.date.toLocaleDateString()}})</strong></div>
    </div>
</div>

<br />
<br />
<br />
<table style="border: 1px solid black;">
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;padding: 3px;"><strong>date</strong></td>
        <td style="border: 1px solid black;padding: 3px;"><strong>Name</strong></td>
        <td style="border: 1px solid black;padding: 1px 3px 0px 20px; text-align: right;"><strong>CTL</strong></td>
    </tr>
    <!-- <tr style="border: 1px solid black;" ng-repeat="nameTrimp in trimpObjectsArray | orderBy:'-trimp'"> -->
    <tr style="border: 1px solid black;" ng-repeat="fitness in fitnessData | orderBy:'-timestamp'">
        <td style="border: 1px solid black;padding: 3px;">{{ fitness.date }}</td>
        <td style="border: 1px solid black;padding: 3px;">{{ fitness.activitiesName }}</td>
        <td style="border: 1px solid black;padding: 1px 3px 0px 20px; text-align: right;">{{ fitness.ctl }}</td>
    </tr>
</table>
<!-- <br/><br/><br/>
<table style="border: 1px solid black;">
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;padding: 3px;"><strong>date</strong></td>
        <td style="border: 1px solid black;padding: 3px;"><strong>Name</strong></td>
        <td style="border: 1px solid black;padding: 1px 3px 0px 20px; text-align: right;"><strong>TRIMP</strong></td>
    </tr>
    <tr style="border: 1px solid black;" ng-repeat="nameTrimp in trimpObjectsArray">
        <td style="border: 1px solid black;padding: 3px;">{{ nameTrimp.date }}</td>
        <td style="border: 1px solid black;padding: 3px;">{{ nameTrimp.activityName }}</td>
        <td style="border: 1px solid black;padding: 1px 3px 0px 20px; text-align: right;">{{ nameTrimp.trimp }}</td>
    </tr>
</table> -->
