<div>Activity with HR data: {{trimpObjectsArray.length}}</div>
<!-- <div>{{computedActivities | json}}</div> -->
<!-- <nvd3-line-chart
       data="exampleData"
       showXAxis="true"
       showYAxis="true"
       tooltips="true"
       interactive="true">
   </nvd3-line-chart> -->

<!-- <nvd3-line-with-focus-chart
    data="exampleData"
    id="exampleId"
    interactive="true"
    tooltips="true"
    height="800"
    height2="100"
    margin="{left:80,top:50,bottom:50,right:50}"
    yAxisTickFormat="yAxisTickFormatFunction()"
    xAxisTickFormat="xAxisTickFormatFunction()"
    x2AxisTickFormat="xAxisTickFormatFunction()">
   <svg></svg>
</nvd3-line-with-focus-chart> -->

<nvd3-line-chart
       data="exampleData"
       id="exampleId"
       height="600"
       showXAxis="true"
       showYAxis="true"
       tooltips="true"
       interactive="true"
       xAxisTickFormat="xAxisTickFormatFunction()"
       margin="{left:50,top:50,bottom:50,right:50}"
       >
   <svg></svg>
</nvd3-line-chart>

<table style="border: 1px solid black;">
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;padding: 3px;"><strong>date</strong></td>
        <td style="border: 1px solid black;padding: 3px;"><strong>Name</strong></td>
        <td style="border: 1px solid black;padding: 1px 3px 0px 20px; text-align: right;"><strong>CTL</strong></td>
    </tr>
    <!-- <tr style="border: 1px solid black;" ng-repeat="nameTrimp in trimpObjectsArray | orderBy:'-trimp'"> -->
    <tr style="border: 1px solid black;" ng-repeat="fitness in fitnessData | orderBy:'-timestamp'">
        <td style="border: 1px solid black;padding: 3px;">{{ fitness.date }}</td>
        <td style="border: 1px solid black;padding: 3px;">{{ fitness.activitiesName }}</td>
        <td style="border: 1px solid black;padding: 1px 3px 0px 20px; text-align: right;">{{ fitness.CTL }}</td>
    </tr>
</table>
<!-- <br/><br/><br/>
<table style="border: 1px solid black;">
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;padding: 3px;"><strong>date</strong></td>
        <td style="border: 1px solid black;padding: 3px;"><strong>Name</strong></td>
        <td style="border: 1px solid black;padding: 1px 3px 0px 20px; text-align: right;"><strong>TRIMP</strong></td>
    </tr>
    <tr style="border: 1px solid black;" ng-repeat="nameTrimp in trimpObjectsArray">
        <td style="border: 1px solid black;padding: 3px;">{{ nameTrimp.date }}</td>
        <td style="border: 1px solid black;padding: 3px;">{{ nameTrimp.activityName }}</td>
        <td style="border: 1px solid black;padding: 1px 3px 0px 20px; text-align: right;">{{ nameTrimp.trimp }}</td>
    </tr>
</table> -->
